/* index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* IMPORTANTE: Esto elimina los bordes blancos del navegador */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #242424; /* Color de fondo base para evitar parpadeos blancos */
}

#root {
  width: 100%;
  min-height: 100vh;
}